<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title>Title</title>
    <link rel = "stylesheet" href = "basic.css">
</head>
<body>
<div id = "wrapper"> <!---Wrapper--->
    <header> <!---Header--->
        <h1>

        </h1>
    </header> <!---End Header--->

    <nav> <!---Navigation Links--->
        <ul>
            <li><a href = "">Link</a></li>
            <li><a href = "">Link</a></li>
            <li><a href = "">Link</a></li>
            <li><a href = "">Link</a></li>
        </ul>
    </nav> <!---End Navigation Links--->

    <main> <!---Main Framework--->

    </main> <!---End Main Framework--->

    <footer>  <!---Footer--->

    </footer> <!---End Footer--->
</div>  <!---End Wrapper--->
</body>
</html>