/* Remove the navbar's default margin-bottom and rounded borders */
.navbar
{
    margin-bottom    : 0;
    border-radius    : 0;
    background-color : #EBEFC9;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content
{
    height : 450px
}

.normalList li
{
    padding-bottom : 10px;
}

.thumbnail
{
    background-color : #EBEFC9;
}

.btn, .btn:hover, .btn:active, .btn:focus
{
    background-color : #E6D6A9;
    color            : #0F0F0F;
}

.input-group
{
    padding-bottom : 20px;
}

.input-group-addon
{
    background-color : #EBEFC9;
    border           : none;
}

.imageGallery
{
    width        : 80%;
    margin-left  : auto;
    margin-right : auto;
}

/* Set gray background color and 100% height */
.sidenav
{
    padding-top : 20px;
    height      : 100%;
}

#imageHeader
{
    padding : 20px 20px;
    float   : left;
}

.videoList
{
    text-align : center;
    display    : block;
    margin-top : 250px;
}

.videoList iframe
{
    padding-bottom : 50px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width : 767px)
{
    .sidenav
    {
        height  : auto;
        padding : 15px;
    }

    .row.content
    {
        height : auto;
    }
}