body
{
  background-color: #4F6D93;
  background-image: linear-gradient(to bottom, #FFFFFF, #4F6D93);
  color: #666666;
  font-family: Arial, Helvetica, sans-serif;
}
#wrapper
{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #90C7E3;
  min-width: 960px;
  max-width: 2048px;
  box-shadow: 3px 3px 3px #333333;
}
header
{
  background-color: #000033;
  color: #FFFFFF;
  background-image: url(images/sunset.jpg);
  background-position: right;
  background-repeat: no-repeat;
  height: 60px;
  text-align: center;
  padding-top: 15px;
}
h1
{
  font-family: Georgia, "Times New Roman", serif;
  margin-bottom: 0;
  margin-top: 0;
  height: 100px;
  background-image: url(images/javaAww-nimals.gif)
}
nav
{
  font-weight: bold;
  float:left;
  width: 160px;
  padding: 20px;
}
nav a
{
  text-decoration: none;
}
nav a:link
{
  color: #000033;
}
nav a:visited
{
  color: #344873;
}
nav a:hover
{
  color: #FFFFFF;
}
nav ul
{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  font-size: 1.2em;
}
main
{
  background-color: #FFFFFF;
  margin-left: 190px;
  padding: 1px 20px 20px 30px;
  display: block;
}
main ul
{
  list-style-image: url(images/marker.gif);
}
h2
{
  color: #3399CC;
  font-family: Georgia, "Times New Roman", serif;
  text-shadow: 1px 1px 1px #CCCCCC;
}
h3
{
  font-family: Georgia, "Times New Roman", serif;
  color: #000033;
}
dt
{
  color: #000033;
}
table
{

  border: 1px solid #3399CC;
  border-spacing: 0;
  width: 80%;

}
td, th
{
  padding: 5px;
  border: 1px solid #3399CC;
}
td
{
  text-align: center;
}
tr:nth-of-type(odd)
{
  background-color: #F5FAFC;
}
.text
{
  text-align: left;
}
.resort
{
  color: #5C7FA3;
  font-weight: bold;
}
#contact
{
  font-size: 90%;
}
footer
{
  margin-left: 190px;
  background-color: #FFFFFF;
  font-size: 75%;
  font-style: italic;
  text-align: center;
  font-family: Georgia, "Times New Roman", serif;
  padding: 20px;
}
#homehero
{
  margin-left: 190px;
  height: 300px;
  background-image: url(images/coasthero.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#yurthero
{
  margin-left: 190px;
  height: 300px;
  background-image: url(images/yurthero.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#trailhero
{
  margin-left: 190px;
  height: 300px;
  background-image: url(images/trailhero.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
